<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find robot_nav)/maps/gmapping_1015.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find robot_nav)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find robot_nav)/launch/move_base_teb_planner_jing.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
  

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find robot_nav)/rviz/four_ws_amr_navigation.rviz"/>
  </group>
</launch>
